# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Better Auth
# Secret used by Better Auth
BETTER_AUTH_SECRET="some_value_here"
DATABASE_URL="some_value_here"
DATABASE_URL_UNPOOLED="some_value_here"
PGHOST="some_value_here"
PGHOST_UNPOOLED="some_value_here"
PGUSER="some_value_here"
PGDATABASE="some_value_here"
PGPASSWORD="some_value_here"
POSTGRES_URL="some_value_here"
POSTGRES_URL_NON_POOLING="some_value_here"
POSTGRES_USER="some_value_here"
POSTGRES_HOST="some_value_here"
POSTGRES_PASSWORD="some_value_here"
POSTGRES_DATABASE="some_value_here"
POSTGRES_URL_NO_SSL="some_value_here"
POSTGRES_PRISMA_URL="some_value_here"
UPLOADTHING_TOKEN="some_value_here"